@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #239fff;
  line-height: 1;
  font-family: Montserrat;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: #239fff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 93.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #239fff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.popup__text {
  text-align: center
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 1;
  transition: background-color .3s;
  display: inline-block;
  border-radius: 50%
}
.swiper-pagination-bullet-active {
  background-color: #cfcfcf
}
.swiper-pagination {
  display: flex;
  align-items: center;
  gap: .3125rem;
  justify-content: center;
  padding-top: .3125rem
}
.swiper-button-prev {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.swiper-button-disabled {
  opacity: .5
}
.swiper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%
}
.tariffs__list-mob__slider {
  position: relative
}
.header {
  color: #fff;
  margin-bottom: 2.3125rem
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.header__lic {
  font-size: 1.25rem
}
.header__tel {
  font-weight: 600
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%
}
.header__banner img {
  max-width: 100%;
  width: 60.625rem
}
.header__logo img {
  max-width: 100%
}
.footer {
  border-top: 1px solid #cee800
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem
}
.footer__social {
  display: flex;
  align-items: center;
  gap: .5rem
}
.footer__lic {
  font-weight: 600;
  color: #fff;
  text-align: center
}
.footer__tel {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem
}
.tariffs__container {
  display: flex;
  align-items: start;
  gap: 3.1875rem
}
.tariffs__list {
  display: flex;
  gap: 3.4375rem
}
.tariffs__title {
  background-color: #cee800;
  font-weight: 700;
  padding: .625rem 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 30px;
  text-align: center
}
.tariffs__item {
  background-color: #fff;
  border-radius: 30px;
  padding: 1.875rem;
  max-width: 21.875rem;
  line-height: 1.1;
  display: flex;
  flex-direction: column
}
.tariffs__block {
  display: flex;
  flex-direction: column
}
.tariffs__block:not(:last-child) {
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #c3c3c3
}
.tariffs__feature {
  display: flex;
  align-items: start;
  gap: .9375rem
}
.tariffs__feature:not(:last-child) {
  margin-bottom: .9375rem
}
.tariffs__img img {
  width: 1.5625rem
}
.tariffs__img-power img {
  width: 3.125rem
}
.tariffs__text {
  font-weight: 700
}
.tariffs__texts {
  display: flex;
  flex-direction: column;
  row-gap: .625rem
}
.tariffs__cost {
  margin-bottom: .625rem;
  font-weight: 700
}
.tariffs__cost span {
  display: inline-block;
  position: relative;
  font-weight: 400
}
.tariffs__cost span::before {
  content: "";
  position: absolute;
  top: .375rem;
  left: 0;
  width: 100%;
  height: .0625rem;
  background-color: #cee800;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg)
}
.tariffs__btn {
  background-color: #cee800;
  display: inline-block;
  color: #424242;
  padding: .875rem 5.3125rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 30px;
  align-self: center;
  transition: all .3s
}
.tariffs__power {
  margin-bottom: .625rem;
  display: flex;
  gap: .625rem;
  align-items: start
}
.tariffs__subpower {
  font-weight: 700
}
.tariffs__banner img {
  max-width: 100%
}
.tariffs__banner:not(:last-child) {
  margin-bottom: 1rem
}
.form {
  margin-bottom: 2.5rem
}
.form__container {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}
.form__form {
  display: flex;
  flex-direction: column
}
.form__title {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5625rem
}
.form__item {
  margin-bottom: 1.5625rem
}
.form__input {
  background-color: #fff;
  max-width: 44.875rem;
  height: 3.3125rem;
  padding: .9375rem 2.1875rem;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1.125rem
}
.form__input::-webkit-input-placeholder {
  color: #239fff
}
.form__input:-ms-input-placeholder {
  color: #239fff
}
.form__input::-ms-input-placeholder {
  color: #239fff
}
.form__input::placeholder {
  color: #239fff
}
.form__input._form-error::-webkit-input-placeholder {
  color: red
}
.form__input._form-error:-ms-input-placeholder {
  color: red
}
.form__input._form-error::-ms-input-placeholder {
  color: red
}
.form__input._form-error::placeholder {
  color: red
}
.form__button {
  background-color: #cee800;
  color: #424242;
  padding: .875rem 3rem;
  font-weight: 700;
  border-radius: 30px;
  transition: all .3s;
  align-self: center
}
.select {
  background-color: #fff;
  color: #239fff;
  width: 44.875rem;
  height: 3.3125rem;
  padding: .9375rem 2.1875rem;
  border-radius: 30px;
  font-weight: 700;
  font-size: 1.125rem;
  max-width: 100%
}
.form__banner img {
  max-width: 100%
}
.tariffs__banner-low img {
  height: 31.25rem
}
.tariffs__superpower {
  border: 1px solid #239fff;
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: start;
  gap: .3125rem;
  padding: .3125rem;
  padding-bottom: .3125rem;
  transition: all .3s
}
.tariffs__superpower:nth-child(2) span {
  padding-top: .125rem
}
.tariffs__tv {
  display: flex;
  flex-direction: column;
  row-gap: .625rem
}
.tariffs__dop {
  line-height: 1.1
}
.tariffs__subtext-power {
  font-weight: 400;
  margin-bottom: .625rem;
  font-size: .9375rem;
  line-height: 1.2
}
.tariffs__subtext {
  line-height: 1.1
}
.tariffs__row {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem
}
.tariffs__message {
  width: 100%;
  background-color: #cee800;
  padding: .625rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 30px
}
.tariffs__message span {
  font-weight: 700
}
.tariffs__message-mob {
  padding: .9375rem 1.25rem;
  max-width: 18.75rem;
  text-align: center;
  margin: 0 auto;
  font-size: .875rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .tariffs__power {
    flex-direction: column
  }
  .tariffs__superpower {
    padding: .625rem
  }
  .tariffs__message-mob {
    display: none
  }
}
@media (min-width:61.99875em) {
  .tariffs .tariffs__list-mob {
    display: none
  }
}
@media (min-width:93.125em) {
  .header__container {
    padding-top: 5.0625rem
  }
  .header__container {
    row-gap: 3.375rem
  }
  .header__tel {
    font-size: 1.75rem
  }
  .footer__lic {
    font-size: 1.375rem
  }
  .tariffs {
    margin-bottom: 6.25rem
  }
  .tariffs__title {
    font-size: 1.125rem
  }
}
@media (min-width:1600px) {
  .tariffs__block:not(:first-child) {
    padding-top: 1.25rem
  }
  .tariffs__banner-low {
    display: none
  }
}
@media (max-width:1650px) {
  .header__banner img {
    width: 34.375rem
  }
  .tariffs__list {
    margin: 0 auto
  }
  [class*=__container] {
    max-width: 68.75rem
  }
}
@media (max-width:1600px) {
  .tariffs__container {
    flex-direction: column
  }
  .tariffs__list {
    gap: 1.875rem
  }
  .tariffs__title {
    padding: .625rem 3.125rem
  }
  .tariffs__block:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .tariffs__images {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 3.125rem
  }
  .form__container {
    gap: 6.25rem;
    row-gap: 1.25rem
  }
  .form__input {
    max-width: 31.25rem
  }
  .select {
    width: 31.25rem
  }
}
@media (max-width:1400px) {
  .header__tel {
    font-size: 1.5625rem
  }
}
@media (max-width:1050px) {
  .tariffs__feature:not(:last-child) {
    margin-bottom: 1.5625rem
  }
}
@media (max-width:400px) {
  .header__tel {
    max-width: 18.75rem
  }
  .header__logo img {
    max-width: 18.75rem
  }
  .tariffs__title {
    max-width: 18.75rem
  }
  .tariffs__item {
    max-width: 18.75rem
  }
  .tariffs__banner img {
    max-width: 18.75rem
  }
  .form__form {
    max-width: 18.75rem;
    margin: 0 auto
  }
  .form__banner img {
    max-width: 18.75rem;
    margin: 0 auto
  }
  .tariffs__message-mob {
    max-width: 18.75rem
  }
}
@media (max-width:380px) {
  .swiper-buttons {
    top: 2.5rem
  }
}
@media (max-width:350px) {
  .tariffs__item {
    max-width: 18.125rem
  }
}
@media (max-width:20em) {
  .header__container {
    padding-top: 1.625rem
  }
  .header__container {
    row-gap: .9375rem
  }
  .header__tel {
    font-size: 1.125rem
  }
  .footer__lic {
    font-size: 1.25rem
  }
  .tariffs {
    margin-bottom: .625rem
  }
  .tariffs__title {
    font-size: 1rem
  }
}
@media (max-width:61.99875em) {
  .header__top {
    order: 1;
    justify-content: center
  }
  .header__lic {
    display: none
  }
  .header__bottom {
    order: 0;
    justify-content: center
  }
  .header__banner {
    display: none
  }
  .footer__container {
    flex-direction: column;
    row-gap: .9375rem
  }
  .footer__social {
    order: 1
  }
  .footer__lic {
    order: 0
  }
  .footer__tel {
    display: none
  }
  .tariffs__container {
    flex-direction: column;
    align-items: stretch
  }
  .tariffs__list {
    display: none
  }
  .tariffs__title {
    max-width: 21.875rem;
    margin: 0 auto;
    margin-bottom: 1.5rem
  }
  .tariffs__item {
    margin: 0 auto;
    max-width: 18.75rem
  }
  .tariffs__btn {
    padding: .75rem 3.75rem
  }
  .tariffs__images {
    align-self: center
  }
  .form__container {
    flex-direction: column;
    align-items: stretch
  }
  .form__form {
    text-align: center
  }
  .form__banner {
    align-self: center
  }
  .tariffs__banner-low {
    display: none
  }
}
@media (max-width:47.99875em) {
  .header__tel {
    max-width: 21.875rem
  }
  .header__logo img {
    max-width: 21.875rem
  }
  .tariffs__container {
    gap: 1.25rem
  }
  .tariffs__item {
    padding: .9375rem;
    padding-top: 1.875rem;
    margin: 0 auto;
    width: 21.875rem;
    max-width: 100%
  }
  .tariffs__banner img {
    max-width: 21.875rem
  }
  .form__form {
    max-width: 21.875rem;
    margin: 0 auto
  }
  .form__banner img {
    max-width: 21.875rem;
    margin: 0 auto
  }
  .banner-last {
    display: none
  }
  .tariffs__message {
    display: none
  }
  .tariffs__message-mob {
    display: block
  }
  .tariffs__message-mob {
    max-width: 21.875rem
  }
}
@media (max-width:29.99875em) {
  .header__tel {
    max-width: 21.25rem
  }
  .header__logo img {
    max-width: 21.25rem
  }
  .tariffs__title {
    padding: .625rem 1.875rem
  }
  .tariffs__title {
    max-width: 21.25rem
  }
  .tariffs__item {
    max-width: 21.25rem
  }
  .tariffs__power {
    flex-direction: column
  }
  .tariffs__banner img {
    max-width: 21.25rem
  }
  .form__form {
    max-width: 21.25rem;
    margin: 0 auto
  }
  .form__banner img {
    max-width: 21.25rem;
    margin: 0 auto
  }
  .tariffs__superpower {
    padding: .3125rem
  }
  .tariffs__message-mob {
    padding: .625rem
  }
  .tariffs__message-mob {
    max-width: 21.25rem
  }
}
@media (min-width:20em)and (max-width:93.125em) {
  @supports (padding-top:clamp(1.625rem ,0.6848290598rem + 4.7008547009vw ,5.0625rem)) {
    .header__container {
      padding-top: clamp(1.625rem ,.6848290598rem + 4.7008547009vw ,5.0625rem)
    }
  }
  @supports not (padding-top:clamp(1.625rem ,0.6848290598rem + 4.7008547009vw ,5.0625rem)) {
    .header__container {
      padding-top: calc(1.625rem + 3.4375*(100vw - 20rem)/ 73.125)
    }
  }
  @supports (row-gap:clamp(0.9375rem ,0.2708333333rem + 3.3333333333vw ,3.375rem)) {
    .header__container {
      row-gap: clamp(.9375rem ,.2708333333rem + 3.3333333333vw ,3.375rem)
    }
  }
  @supports not (row-gap:clamp(0.9375rem ,0.2708333333rem + 3.3333333333vw ,3.375rem)) {
    .header__container {
      row-gap: calc(.9375rem + 2.4375*(100vw - 20rem)/ 73.125)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9540598291rem + 0.8547008547vw ,1.75rem)) {
    .header__tel {
      font-size: clamp(1.125rem ,.9540598291rem + .8547008547vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9540598291rem + 0.8547008547vw ,1.75rem)) {
    .header__tel {
      font-size: calc(1.125rem + .625*(100vw - 20rem)/ 73.125)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.2158119658rem + 0.1709401709vw ,1.375rem)) {
    .footer__lic {
      font-size: clamp(1.25rem ,1.2158119658rem + .1709401709vw ,1.375rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.2158119658rem + 0.1709401709vw ,1.375rem)) {
    .footer__lic {
      font-size: calc(1.25rem + .125*(100vw - 20rem)/ 73.125)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,-0.9134615385rem + 7.6923076923vw ,6.25rem)) {
    .tariffs {
      margin-bottom: clamp(.625rem ,-.9134615385rem + 7.6923076923vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,-0.9134615385rem + 7.6923076923vw ,6.25rem)) {
    .tariffs {
      margin-bottom: calc(.625rem + 5.625*(100vw - 20rem)/ 73.125)
    }
  }
  @supports (font-size:clamp(1rem ,0.9658119658rem + 0.1709401709vw ,1.125rem)) {
    .tariffs__title {
      font-size: clamp(1rem ,.9658119658rem + .1709401709vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9658119658rem + 0.1709401709vw ,1.125rem)) {
    .tariffs__title {
      font-size: calc(1rem + .125*(100vw - 20rem)/ 73.125)
    }
  }
}
@media (min-width:61.99875em)and (max-width:1600px) {
  .tariffs__banner {
    display: none
  }
}
@media (any-hover:hover) {
  .header__tel:hover {
    text-decoration: underline
  }
  .footer__tel:hover {
    text-decoration: underline
  }
  .tariffs__btn:hover {
    background-color: #239fff;
    color: #fff
  }
  .form__button:hover {
    background-color: #fff;
    color: #239fff
  }
}